.container{
	height:650px;
	width:50%;
	margin:auto;
	background-color:black;
}
.header{
	height:80px;
	width:100%;
	float:left;
	background-color: white;
}
.logo{
	height:80px;
	width:30%;
	float:left;
	background-color:#ff9900;
}
.title{
	height:80px;
	width:70%;
	float:left;
	background-color:maroon;
}
.banner{
	height:180px;
	width:100%;
	float:left;
	background-color:#0d3b91;
	 }
.content{
	height:220px;
	width:100%;
	float:left;
	background-color:white;
}
.content_one{
	height:110px;
	width:50%;
	float:left;
	background-color:#c0c0c0;
	 }
.content_three{
	height:220px;
	width:50%;
	float:right;
	background-color:red;
}
	 
.content_two{
	height:110px;
	width:50%;
	float:left;
	clear: left;
	background-color:#ffcc00;
}
.before_footer{
	height:100px;
	width:100%;
	float:left;
	background-color:#339933;
}

.footer{
	height:70px;
	width:100%;
	float:left;
	background-color:black;
}